- title "Bands"

%table#bands
  %thead
    %tr
      %th Name
  %tbody
    = render :partial => @bands

  %tfoot
    %tr
      %td &nbsp;
    = form_for @band, :remote => true, :html => {:id => 'new-band-form'} do |f|
      %tr
        %td= f.text_field :name
        %td= f.submit

%p= link_to "New Band", new_band_path
