- title "Bands"

%table#bands
  %thead
    %tr
      %th Name
  %tbody
    = render :partial => @bands, :locals => {:list => true}


%p
  = form_for @band, :remote => true, :html => {:id => 'new-band-form'} do |f|
    = f.text_field :name
    = f.submit

%p= link_to "New Band", new_band_path
